<h2>Available courses</h2>
<app-courses-filter (filterCourses)="filterCourses($event)"></app-courses-filter>
<div class="course-list">
  <div class="course-list-item" *ngFor="let course of filteredCourses.slice(paginationStart, paginationStart + elementsOnPage)">
    <a [routerLink]="'/course/' + course.id"> {{ course.name }} </a>
    <fa-icon
      class="item-edit"
      [icon]="faEdit"
      (click)="onEditCourse(course.id)">
    </fa-icon>
    <fa-icon
      class="item-delete"
      [icon]="faTrashAlt"
      (click)="onDeleteCourse(course.id)">
    </fa-icon>
  </div>
</div>
<app-pagination [elementsNumber]="filteredCourses.length" [elementsOnPage]="elementsOnPage" (settingsChanged)="paginationChanged($event)"></app-pagination>

<app-course-add [editedCourse]="editedCourse"></app-course-add>
