.menu {
  width: 20rem;
  height: 100vh;
  background-color: #145C9E;
  color: #F4EBD9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding-top: 2rem;
}

.menu a {
  display: block;
}

.menu div {
  cursor: pointer;
}
