<form [formGroup]="modelForm" (ngSubmit)="onSubmit(modelForm)" class="inline-form">
  <div class="field">
    <label for="name">Name</label>
    <input name="name" id="name" formControlName="name"/>
  </div>
  <div class="field">
    <label for="ECTS">ECTS</label>
    <input type="number" id="ECTS" name="ECTS" formControlName="ECTS"/>
  </div>
  <div class="field">
    <label for="semester">Semester</label>
    <input type="number" id="semester" name="semester" formControlName="semester"/>
  </div>
  <div class="field">
    <label for="rate">Rate</label>
    <input type="number" id="rate" name="rate" formControlName="rate"/>
  </div>
  <button type="submit">Filter courses</button>
</form>
